
    <% $curr_episode = seasons %>
    <div class="episode_list span7">
    	<ul>
 		<% if $current_season != seasons.season_num %>
 		  <div class="season_header row">
			  Season: <%= seasons.season_num %>
			<% $current_season = seasons.season_num %>
			<% if signed_in? %>
				<% if current_user.following_show?(@tv_show) %>
				  <%= link_to watched_entire_season_text(@tv_show,$current_season), toggle_watched_season_episode_tracker_path(@tv_show,:season => $current_season), :class => "btn btn-small" %>
				<% end %>
			<% end %>
		  </div>
      <li>
      	<div class="listing row">
      	<span class="floating-button"><%= render 'episode_tracker_form' if signed_in? %></span>
			  <span class="floating-title"><%= "#{seasons.season_num}x#{seasons.episode_num}" %><strong> <%= seasons.name %></strong></span>
			  </div>
      </li>
		<% else %>
      <li>
      	<div class="listing row">
      	<span class="floating-button"><%= render 'episode_tracker_form' if signed_in? %></span>
			  <span class="floating-title"><%= "#{seasons.season_num}x#{seasons.episode_num}" %><strong> <%= seasons.name %></strong></span>
			  </div>
      </li>
			<% $current_season = seasons.season_num %>
		<% end %>
		  </ul>
		</div> <!-- episodes_list -->