
    <% $curr_episode = seasons %>
    <div class="episode-list span7">
 		<% if $current_season != seasons.season_num %>
 		  <div class="season_header row">
			  Season: <%= seasons.season_num %>
			<% $current_season = seasons.season_num %>
			<% if signed_in? %>
				<% if current_user.following_show?(@tv_show) %>
				  <%= link_to watched_entire_season_text(@tv_show,$current_season), toggle_watched_season_episode_tracker_path(@tv_show,:season => $current_season), :class => "btn btn-small" %>
				<% end %>
			<% end %>
		  </div>
        <div class="accordian-group">
	      	<div class="accordian-heading">
	      	<span class="floating-button"><%= render 'episode_tracker_form' if signed_in? %></span>
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= "#{seasons.season_num}_#{seasons.episode_num}" %>"><%= "#{seasons.season_num}x#{seasons.episode_num}" %><strong> <%= seasons.name %></strong></a>
				  </div> <!-- accordian-heading -->
			    <div id="collapse<%= "#{seasons.season_num}_#{seasons.episode_num}" %>" class="accordion-body collapse">
			      <div class="accordion-inner">
							Tony faces pressure from his own crew to give up his cousin to Johnny Sack. Tony does some soul-searching on Melfi's couch and finally decides on a course of action.
							A.J. proves himself to be a schemer, while Christopher tells Carmela that he and Adriana have ended their relationship.
							Tony meets with Johnny Sack to restore peace between Jersey and New York, but the Feds play a surprise card that sends Tony fleeing to safety.
			      </div> <!-- accordion-inner -->
			    </div> <!-- accordion-body -->
		    </div> <!-- accordian-group -->
		<% else %>
        <div class="accordian-group">
	      	<div class="accordian-heading">
	      	<span class="floating-button"><%= render 'episode_tracker_form' if signed_in? %></span>
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= "#{seasons.season_num}_#{seasons.episode_num}" %>"><%= "#{seasons.season_num}x#{seasons.episode_num}" %><strong> <%= seasons.name %></strong></a>
				  </div> <!-- accordian-heading -->
			    <div id="collapse<%= "#{seasons.season_num}_#{seasons.episode_num}" %>" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Tony seeks guidance from overseas to solve a local problem; and decides whether a top earner deserves another chance.
			      </div> <!-- accordion-inner -->
			    </div> <!-- accordion-body -->
		    </div> <!-- accordian-group -->
			<% $current_season = seasons.season_num %>
		<% end %>
		</div> <!-- episodes_list -->