
<% provide(:title, @tv_show.name)%>
<div class="row">
  <aside class="span4">
      <h1>
        <%= @tv_show.name %>  
      </h1>
      <p>
        Year: <%= @tv_show.year %>
      </p>
      <p>
        Network: <%= @tv_show.network %>
      </p>
      <p>
        Genre: <%= @tv_show.genre %>
      </p>
    <%= render 'follow_tv_show_form' if signed_in? %>
    <% if signed_in? %>
      <% if current_user.following_show?(@tv_show) %>
        <%= link_to watched_entire_series_text(@tv_show), toggle_entire_show_episode_tracker_path(@tv_show), :class => "btn btn-primary" %>
      <% end %>  
    <% end %>
  </aside><!-- <aside class="span4"> -->
  <div class="span7">
    <section>
      <h3>
        Seasons
      </h3>
      <% if @tv_show.episodes.any? %>
              <% $current_season = 0 %>
      <div id="seasons">
        <%= render partial: 'seasons', collection: @seasons %>
      </div><!-- seasons -->
      <% end %>
    </section>
  </div> <!-- <div class="span8"> -->
</div><!-- <div class="row"> -->