
<% provide(:title, @name)%>
<div class="row-fluid">
  <aside class="span4 info-box">
    <%= render 'follow_tv_show_form' if signed_in? %>
      <p>
        <strong>First Aired: </strong><%= @year %>
      </p>
      <p>
        <strong>Network: </strong><%= @network %>
      </p>
      <p>
        <strong><%= @genre_count > 1 ? "Genres: " : "Genre: " %></strong><%= @genres %>
      </p>
      <p><strong>Overview: </strong><%= @tv_show.overview %></p>

    <% if signed_in? %>
      <% if current_user.following_show?(@tv_show) %>
        <%= link_to watched_entire_series_text(@tv_show), toggle_entire_show_episode_tracker_path(@tv_show), :class => "btn btn-primary series-btn" %>
      <% end %>  
    <% end %>
  </aside><!-- <aside class="span4"> -->
  <section class="span7 info-box">
    <% if @seasons.any? %>
            <% $current_season = 0 %>
    <div class="accordian" id="accordian2">
      <%= render partial: 'seasons', collection: @seasons %>
    </div><!-- seasons -->
    <% end %>
  </section>
</div><!-- <div class="row-fluid"> -->