<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/shim' %>
  </head>
  <body>
	<%= render 'layouts/header'%>
    <div class="container content-wrapper">
      <% flash.each do |k,v| %>
	      <%= content_tag(:div, v, class: "alert alert-#{k}") %>
      <% end %>
      <%= yield %>
      <div class="clear_all"></div>
    </div> <!-- content-wrapper -->
    <div class="container">
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <% if Rails.env.development? %>
      <div class="debug container">
        <em>Request Testing:</em>
        <ul>
          <li>METHOD = <%= request.method() %></li>
          <li>IP = <%= request.ip() %></li>
          <li>SERVER = <%= request.server_software() %></li>
          <li>LOCAL = <%= request.local?() %></li>
        </ul>
      </div>
    <% end %>
  </body>
</html>